<div class="footer">
  <p>----- @Html.ActionLink("Add new machine", "Create", "Machines") --- @Html.ActionLink("Add new employee", "Create", "Workers") -----</p>
  
  <p>----- @Html.ActionLink("Home", "Index", "Home") --- @Html.ActionLink("See all Workers", "Index", "Workers") --- @Html.ActionLink("See all Machines", "Index", "Machines") -----</p>
  </div>